<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0">
	<notifications formEntrySubmittedNotificationTemplateId="f60f2265-c7e6-4050-b5a4-4bf22e5dea95" updatedFormEntrySubmittedNotificationTemplateId="9c6caa98-b3b8-4a55-8343-05af18345842" />
</formsConfig>