<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0">
	<notifications newPostNotificationTemplateId="3a55228e-518e-4973-a86e-702f6787d1f7" newThreadNotificationTemplateId="498c6500-8ce2-4299-8a6c-ac8c2ac9df59" />
</forumsConfig>