<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0" projectName="CachingSample" dateCreated="2017-11-15 13:28:40Z">
	<defaultSite id="747baaf9-3f67-45a5-a8cd-79411652be3b" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>